{{ form_start(questionForm) }}
{{ form_row(questionForm.name, {label: "Your question's title"}) }}
{{ form_row(questionForm.question, {attr: {rows: 7}}) }}
{% if questionForm.askedAt is defined %}
    {{ form_row(questionForm.askedAt) }}
{% endif %}
{{ form_row(questionForm.topic) }}
{% if questionForm.specificTopic is defined %}
    {{ form_row(questionForm.specificTopic) }}
{% endif %}
{{ form_row(questionForm.author) }}
<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(questionForm) }}