{% extends 'base.html.twig' %}

{% block title %}Question List{% endblock %}

{% block body %}
    <div class="container container-fluid my-3 ">
        <div class="row bg-gradient bg-light rounded">
            <div class="col-auto my-3">
                <a class="btn btn-primary" href="{{ path('createQuestionAdmin') }}">Create Question 📰</a>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Asked?</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>
                    <a href="{{ path('question', {'slug': question.slug}) }}">
                        {{ question.name }}
                    </a>
                </td>
                <td>
                    {{ question.author.userIdentifier }}
                </td>
                <td style="width: 20%;">
                    {{ question.isAsked ? 'YAY ✅' : 'NAY ❎' }}
                </td>
                <td>
                    <a href="{{ path('editQuestionAdmin', {id: question.id})}}" style="text-decoration: none;">✏</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">
                    No questions found
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}



