{% extends 'base.html.twig' %}

{% block title %}{{ question.name }}{% endblock %}

{% block body %}

    <div class="container-fluid text-center my-3">

        <h2>{{ question.name }}</h2><br>

        <h5>{{ question.question|markdown_filter }}</h5>

        <h6>Votes: <span>{{ question.votesString }}</span></h6>

        <small class="my-3">
        {% if question.askedAt %}
            📅 {{ question.askedAt|ago }}
        {% else %}
            (unpublished)
        {% endif %}
        </small><br><br>

        {% for q in questions %}
            <p>{{ q }}</p>
        {% endfor %}
    </div>
{% endblock %}